.item-image{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 72px;
  height: 72px;
  margin-right: 6px;
  background-size: cover;
  border: 1px solid rgb(221,221,221);
  transition: 0.25s;
}

.primary-stat {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 0 2px !important;
  background: rgba(255, 255, 255, 0.9);
  line-height: 13px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 700;
}

.gear-character-summary
{
  position: relative;
  display: block;

  min-width: 100px;

  height: 55px;
  padding: 9px;
  margin-bottom: 1px;

  color: #F5F5F5;
  background: rgba(245, 245, 245, 0.05);
  font-size: 14px;
}


.gear-character-summary .nameplate
{
  position: absolute;
  z-index: 1;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-size: cover;
}

.gear-character-summary .icon
{
  position: relative;
  z-index: 2;
  float: left;

  width: 35px;
  height: 35px;
  margin-right: 18px;

  background-size: cover;
}

.gear-character-summary .race-name
{
  position: relative;
  z-index: 2;
  font-size: 10px;
  opacity: 0.5;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.gear-character-summary .class-name
{
  position: relative;
  z-index: 998 !important;
}


.gear-character-summary .level
{
  position: absolute;
  z-index: 2;

  top: 7px;
  right: 9px;

  text-align: right;
}

.power-level
{
  color: rgb(245, 220, 86);
}

.power-level:before
{
  content: "\2726";
  display: inline-block;

  vertical-align: 2%;
  margin-right: 1px;
  font-size: 75%;
}
