<td>

  <span class="gear-character-summary">
    <div class="icon" [style.background-image]="'url(//www.bungie.net' + char.emblemPath + ')'"></div>
    <div class="nameplate" [style.background-image]="'url(//www.bungie.net' + char.backgroundPath + ')'"></div>
    <div class="class-name">{{char.className}}</div>
    <div class="race-name">{{char.race}} {{char.gender}}</div>
    <div class="level light">
      <div>{{char.level}}</div>
      <div class="power-level">{{char.light}}</div>
    </div>
  </span>
  <small class="text-muted">{{char.minutesPlayed/60|number:'1.0-1'}} hours played</small>
  <div *ngIf="char.subclass!=null">
    <div class="breakEasy">
      <div *ngFor="let sub of char.subclass">
        <small>
          <i>
            <b *ngIf="sub.equipped">{{sub.name}}</b>
            <a *ngIf="!sub.equipped" href="javascript:void(0);" (click)="equip(sub)">{{sub.name}}</a>
          </i>
        </small>
      </div>
    </div>
  </div>
</td>
<td class="">

  <a target="_blank" [href]="buildTailorUrl(char)" tooltip="Optimize tiers at DestinyTailor.com">[Optimize]</a>
  <dl class="">
    <dt>Int</dt>
    <dd>{{char.tier.int.tier}}</dd>
    <dt>Dis</dt>
    <dd>{{char.tier.dis.tier}}</dd>
    <dt>Str</dt>
    <dd>{{char.tier.str.tier}}</dd>
  </dl>
</td>
<td class="">

  <dl class="">
    <dt>Armor</dt>
    <dd>{{char.stats.armor}}</dd>
    <dt>Recovery</dt>
    <dd>{{char.stats.recovery}}</dd>
    <dt>Agility</dt>
    <dd>{{char.stats.agility}}</dd>
  </dl>
</td>
<td class="hidden-xs">
  <div *ngIf="char.equippedSubclass!=null" class="padded-bottom">
    <b>{{char.equippedSubclass.name}}</b>
    <div *ngFor="let group of char.equippedSubclass.steps.cols; let last = last" [class.bottom]="!last">
      <ng-container *ngFor="let step of group.steps; let stepLast = last">
        <span [class.activated]="step.activated"
              [class.text-muted]="!step.activated"
              [tooltip]="step.desc"
        >
          {{step.name}}
        </span>
        <ng-container *ngIf="!stepLast">|</ng-container>
      </ng-container>
    </div>
  </div>

</td>

<td class="hidden-sm hidden-xs">
  <div class="form-group" *ngFor="let todo of todos; let last = last">
    <todo [todo]="todo" [last]="last && todos.length<11" [empty]="todos.length==1 && todos[0].text.length==0"
          (onChanged)="markTodoChanged(todo)" (onAdd)="addTodo(todo)" (onRemove)="removeTodo(todo)"></todo>
  </div>
</td>
