<div class="input-group padded-bottom">
  <input focus-input type="text" class="form-control hidden-xs" maxlength="100" [(ngModel)]="todo.text"
         (ngModelChange)="markTodoChanged()" (keyup)="onTodoKey($event)" placeholder="Todo item">

  <span class="input-group-btn">

        <button class="btn btn-default" (click)="addTodo()" *ngIf="empty === false && last===true"><i class="fa fa-plus"
                                                                                                      aria-hidden="true"></i></button>
        <button class="btn btn-default" type="button" (click)="removeTodo()"><i class="fa fa-times"
                                                                                aria-hidden="true"></i></button>
  </span>
</div>
