<table class="table table-condensed">
  <thead>
  <tr>
    <th [class.hidden-xs]="col.hiddenXs" [class.visible-xs]="col.xsOnly" *ngFor="let col of cols">
      <ng-container *ngIf="col.noSort===true">{{col.heading}}</ng-container>
      <a class="breakHard" href="javascript:void(0);" (click)="sort(col)" *ngIf="col.noSort===false">

        <span *ngIf="col.key==='blessedPve'||col.key==='blessedPvp'||col.key==='roll'"
              tooltip="See https://48klocs.github.io/Percolator/ for more info">{{col.heading}}</span>
        <ng-container *ngIf="col.key!=='blessedPve'&&col.key!=='blessedPvp'&&col.key!=='roll'">{{col.heading}}
        </ng-container>
        <i *ngIf="sortColumn===col && sortDescending===true" class="fa fa-sort-desc" aria-hidden="true"></i>
        <i *ngIf="sortColumn===col && sortDescending===false" class="fa fa-sort-asc" aria-hidden="true"></i>
      </a>
    </th>
  </thead>
  <tbody>
  <tr *ngFor="let item of this.getShowItems()" [ngClass]="item.markClass">
    <td [class.hidden-xs]="col.hiddenXs" [class.visible-xs]="col.xsOnly" *ngFor="let col of cols">
      <ng-container *ngIf="col.special===true">
        <ng-container *ngIf="col.key==='light'">
          <div class="item-image" (click)="fav(item)"
               [style.background-image]="'url(//www.bungie.net' + item.icon + ')'">
            <ng-container *ngIf="item.steps!=null">
              <div *ngIf="item.light>0" class="primary-stat"
                   [class.Void]="item.dmgType===DamageType.Void"
                   [class.Arc]="item.dmgType===DamageType.Arc"
                   [class.Solar]="item.dmgType===DamageType.Solar">
                {{item.light}}
              </div>
              <div *ngIf="item.equipped || item.steps.isComplete()" class="notes">
                <i *ngIf="item.equipped" class="fa fa-shield fa-lg" title="Equipped" aria-hidden="true"></i>
                <i *ngIf="item.steps.isComplete()" class="fa fa-check-square-o fa-lg" title="Fully leveled"
                   aria-hidden="true"></i>
              </div>
            </ng-container>
            <div *ngIf="item.fav===true" class="fav">
              <i class="fa fa-star-o fa-lg" title="Favorite" aria-hidden="true"></i>
            </div>
          </div>
          <div *ngIf="allowFavs===true" class="hidden-xs">
            <br/>
            <button type="button" [class.active]="item.compare" class="btn btn-default btn-xs btn-block active"
                    (click)="toggleCompare(item)">
              <i *ngIf="item.compare===true" class="fa fa-check" aria-hidden="true"></i>
              Compare
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="col.key==='name'">
          <div class="breakEasy">

            <a *ngIf="showModalLinks==true" href="javascript:void(0);" (click)="show(item)">{{item.name}}</a>
            <span *ngIf="showModalLinks!=true">{{item.name}}</span>
            <a *ngIf="item.locked" href="javascript:void(0);" (click)="unlock(item)" title="Locked">
              <i class="fa fa-lock"></i>
            </a>
            <a *ngIf="!item.locked" href="javascript:void(0);" (click)="lock(item)" title="Unlocked">
              <i class="fa fa-unlock"></i>
            </a>

          </div>
          <small>{{item.owner.label}}
            <ng-container *ngIf="item.vendor!==null">- {{item.vendor}}</ng-container>
          </small>
          <div class="breakEasy">
            <small *ngIf="item.owner.id!='vault' &&  item.equipped!=true && canEquip(item) && item.postmaster!=true">
              <i>
                <a href="javascript:void(0);" (click)="equip(item)">Equip</a>
              </i>
            </small>

            <ng-container *ngFor="let target of item.options">
              <small>
                <i>
                  <a href="javascript:void(0);" (click)="transfer(item, target)">{{target.label}}</a>
                </i>
              </small>
            </ng-container>
          </div>
          <small *ngIf="item.mark!=null" class="help-block">[{{item.markLabel}}]</small>
        </ng-container>

        <ng-container *ngIf="col.key==='qualityPct' && item.qualityPct>=0">
          {{item.qualityPct}}%
          <div class="visible-xs-block">{{item.statSplit}}</div>
        </ng-container>
        <ng-container *ngIf="col.key==='int'">
          <small class="text-muted">Int</small>
          <br>
          {{item.int}}
          <ng-container *ngIf="item.intPct>=0">
            <br>
            <small class="text-muted"><em>{{item.intPct}}%</em></small>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="col.key==='dis'">
          <small class="text-muted">Dis</small>
          <br>
          {{item.dis}}
          <ng-container *ngIf="item.disPct>=0">
            <br>
            <small class="text-muted"><em>{{item.disPct}}%</em></small>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="col.key==='str'">
          <small class="text-muted">Str</small>
          <br>
          {{item.str}}
          <ng-container *ngIf="item.strPct>=0">
            <br>
            <small class="text-muted"><em>{{item.strPct}}%</em></small>
          </ng-container>
        </ng-container>
        <div class="button-wrapper" *ngIf="col.key==='mark'">
          <ng-container *ngIf="item.costs===null">
            <span class="breakHard">
              <button (click)="mark('upgrade',item)" class="btn btn-sm btn-info muted" title="Upgrade">U</button>
              <button (click)="mark('keep',item)" class="btn btn-sm btn-success muted" title="Keep">K</button>
            </span>
            <span class="breakHard">
              <button (click)="mark('infuse',item)" class="btn btn-sm btn-warning muted" title="Infuse">I</button>
              <button (click)="mark('junk',item)" class="btn btn-sm btn-danger muted" title="Junk">J</button>
            </span>

              <input type="text" class="form-control hidden-xs" maxlength="100"
                     [(ngModel)]="item.notes" placeholder="Notes" (ngModelChange)="itemNotesChanged(item)"
                     placeholder="Notes">
          </ng-container>
          <ng-container *ngIf="item.costs!==null">

            <div *ngFor="let cost of item.costs">
              {{cost.value}} {{cost.name}}
            </div>
          </ng-container>
        </div>

        <div *ngIf="col.key==='steps' && item.steps!=null">
          <div *ngIf="item.steps.hasOrnament===true" class="bottom"><i class="ra ra-crown"></i> Ornament <i class="ra ra-crown"></i></div>

          <div *ngFor="let group of item.steps.cols; let last = last" [class.bottom]="!last">
            <ng-container *ngFor="let step of group.steps; let stepLast = last">
                <span class="breakHard">
                    <ng-container *ngIf="step.blessedPvp"><i class="fa fa-star" aria-hidden="true"
                                                             tooltip="Recommended PVP Perk"></i></ng-container>
                    <ng-container *ngIf="step.blessedPve"><i class="fa fa-star-o" aria-hidden="true"
                                                             tooltip="Recommended PVE Perk"></i></ng-container>
                    <span [class.activated]="step.activated" [class.text-muted]="!step.activated" [tooltip]="step.desc">
                      {{step.name}}
                    </span>
                 </span>
              <ng-container *ngIf="!stepLast">|</ng-container>
            </ng-container>
          </div>
        </div>

        <div *ngIf="col.key==='type'">
          {{item.type}}

          <small class="help-block" *ngIf="item.steps!=null && !item.steps.isComplete()">
            {{item.steps.pctComplete()}}% leveled<br>
            {{item.steps.xpNeeded()|number}} xp needed
          </small>

        </div>
        <div *ngIf="col.key==='blessedPve'">
          {{item.pveRollRank()}}
        </div>
        <div *ngIf="col.key==='blessedPvp'">
          {{item.pvpRollRank()}}
        </div>
        <div *ngIf="col.key==='roll'">
          {{item.abbrevPvpRollRank()}}<br>
          {{item.abbrevPveRollRank()}}
        </div>

      </ng-container>
      <ng-container *ngIf="col.special!==true">
        <ng-container *ngIf="!col.hideLabel">
          <small class="text-muted">{{col.heading}}</small>
          <br>
        </ng-container>
        <ng-container *ngIf="col.number===true">{{item[col.key]|number}}</ng-container>
        <ng-container *ngIf="col.number!==true">{{item[col.key]}}</ng-container>
      </ng-container>
    </td>
  </tr>

  </tbody>
</table>
